.loading{
    background-color: rgba(204, 204, 204, 0.77);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.loading.loading-hide{
    display:none;
}
.loading .load-pic{
    width: 280px;
    height:13px;
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.swiper-container-vertical>.swiper-pagination-bullets{
    right: 30px;
    top: 40%;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

/*控制层*/
.s_phone nav.pc,.s_phone .tel,.s_phone .platform-enter,.s_phone .swiper-pagination,s_phone .swiper-button,.s_phone .qrCode{
    display:none;
}

/**header**/
.s_pc header,.s_phone header{
    height:70px;
    background-image:url('../imgs/topbg.jpg');
}
.s_phone header{
    height:60px;
    background-size:100% 100%;
    background-repeat: repeat-x;
}
.s_pc header .logo,.s_phone header .logo{
    width: 52px;
    height: 72px;
    background-image: url(../imgs/logo.png);
    float: left;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 60px;
}
.s_phone header .logo{
    background-size: 25px;
    margin-left: 10px;
    width: 30px;
    height: 60px;
}
.s_pc header nav{
    float:left;
}
.s_pc header nav a{
    display:inline-block;
    padding:0 10px;
    color:#FFF;
    line-height:70px;
    margin-right:5px;
}
.s_pc header .tel{
    background:url('../imgs/telphone.png');
    float:right;
    height:70px;
    line-height:70px;
    background-repeat: no-repeat;
    background-position:left center;
    padding-left: 40px;
    margin-right: 60px;
    color:#FFF;
}
.s_pc .menu{
    display:none;
}
.s_phone header .menu {
    background-image: url(../imgs/menu.png);
    float: right;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    background-size: 30px;
    width: 30px;
}
/**body**/
.s_pc .swiper-container-v ,.s_phone .swiper-container-v {
    position:absolute;
    top:70px;
    bottom:0;
    left:0;
    right:0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
/*.swiper-slide-h {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}*/
.s_phone .swiper-container-v {
    top:60px;
}

/**swiper-slide1*/
.swiper-container-v > .swiper-wrapper > .swiper-slide:first-child{
    background-image:url("../imgs/bg1.jpg");
}
.swiper-wrapper .swiper-slide:first-child .swiper-center{
    margin-bottom:200px;
    color:#FFF;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center{
    width:80%;
}
.s_pc .swiper-wrapper .swiper-slide:first-child .swiper-center .title,.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .title{
    font-size:20px;
    height: 35px;
    line-height: 35px;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .title{
    font-size:1rem;
}
.s_pc .swiper-wrapper .swiper-slide:first-child .swiper-center .for{
    font-size:12px;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .for{
    font-size:0.67rem;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .search-content{
    margin-top: 15px;
    position: relative;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .search-content{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    /*width: 310px;*/
}
.s_pc .swiper-wrapper .swiper-slide:first-child .swiper-center .search-content input,.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .search-content input{
    height: 40px;
    width: 320px;
    padding: 0 75px 0 5px;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .search-content input{
    padding: 0 5px;
    box-sizing: border-box;
    height: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    flex:1;
    border-right:0;
    border:none;
    width:auto;
    font-size: 0.78rem;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .search-content .search-down{
    background-image: url(../imgs/down.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 41px;
    height: 44px;
    position: absolute;
    right: 44px;
    top: 0;
    background-size: 15px;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .search-content .search-down{
    width:35px;
    right: initial;
    position: relative;
    background-color: #FFF;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .search-content .search-btn{
    background-color: #0e3369;
    width: 44px;
    height: 44px;
    background-image: url(../imgs/search.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    background-size: 25px;
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .search-content .search-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img:before,.swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img:after{
    content: '';
    position: absolute;
    width: 65px;
    height: 1px;
    left: 0;
    top: 16px;
    border-top:1px solid rgba(255,255,255,.5);
}
.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img:before,.s_phone .swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img:after{
    width: 25px;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img:after{
    left: auto;
    right:0;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img{
    margin-top:20px;
    position:relative;
}
.swiper-wrapper .swiper-slide:first-child .swiper-center .pic-img img{
    width:230px;
}

.swiper-container-v .platform-enter{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    height: 60px;
    z-index: 10;
    text-align: center;
}
.swiper-container-v .platform-enter-active{
    -webkit-transition: none;
    animation: opacity 1s;
    -webkit-animation: opacity 1s;
    -moz-animation: opacity 1s;
}
.swiper-container-v .platform-flex{
    position: fixed;
    bottom: auto;
    top: 70px;
    text-align: left;
    padding-left: 74px;
    height: 55px;
    -webkit-transition: none;
    animation: opacity 1s;
    -webkit-animation: opacity 1s;
    -moz-animation: opacity 1s;
}
.swiper-container-v .platform-enter a{
    color: #FFF;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    padding: 15px 20px 0 60px;
    background-repeat: no-repeat;
    background-position: 10px 15px;
    border-left: 1px solid #333;
    height: 60px;
    box-sizing: border-box;
}
.swiper-container-v .platform-flex a{
    height: 55px;
    padding: 12px 10px 0 39px;
    background-size: 20px;
    background-position: 10px 17px;
}
.swiper-container-v .platform-enter a:nth-child(1){
    background-image:url('../imgs/ico1.png');
}
.swiper-container-v .platform-enter a:nth-child(2){
    background-image:url('../imgs/ico2.png');
}
.swiper-container-v .platform-enter a:nth-child(3){
    background-image:url('../imgs/ico3.png');
}
.swiper-container-v .platform-enter a:nth-child(4){
    background-image:url('../imgs/ico4.png');
    border-right:1px solid #333;
}
.swiper-container-v .platform-enter a span{
    display:block;
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}










/**swiper-slide2*/
.swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(2){
    /*background:none*/
}
.swiper-container-h{
    flex: 1;
    width:60%;
    position: relative;
    margin-bottom:30px;
    margin-top:90px;
    overflow: hidden;
    z-index: 100;
}
.s_phone .swiper-container-h{
    width:80%;
}
.swiper-pagination-h{
    margin-bottom:20px;
}
.swiper-pagination-h .swiper-pagination-bullet{
    margin:0 4px;
}
.swiper-container-h .swiper-slide{
    width:90%;
    border: 5px solid #FFF;
}
.s_phone .swiper-container-h .swiper-slide{
    width:80%;
}
.s_pc .platform-detail {
    margin-bottom:60px;
    /*font-size: 20px;
    height: 35px;
    line-height: 35px;*/
}
.s_pc .platform-detail .platform-detail-title{
    font-size: 20px;
    height: 35px;
    line-height: 35px;
}
.s_phone .platform-detail .platform-detail-title{
    font-size:1.1rem;
    height: 1.4rem;
    line-height:1.4rem;
}
.s_pc .platform-detail .platform-detail-content{
    font-size: 14px;
    line-height: 30px;
    width: 835px;
    height: auto;
    text-align: left;
    margin-top: 10px;
}
.s_phone .platform-detail .platform-detail-content{
    font-size:0.56rem;
    height: auto;
    line-height:1.2rem;
    text-align: left;
    width:90%;
    margin:10px auto 30px;
}
.swiper-button{
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 145px;
    z-index:0;
}
.swiper-button .swiper-button-next, .swiper-button-prev{
    background-size: 10px 44px;
}

/**swiper-slide3*/
.swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(3){
    background-image:url("../imgs/bg3.jpg");
}
.s_phone .swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(3){
    background-image:url("../imgs/h5/h5.bg3.jpg");
}
.s_pc .solution-row{
    flex:1;
    margin:55px auto 0;
    width:60%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    justify-content:center;
}
.s_phone .solution-row{
    flex:1;
    margin:10px 3% 10px;
    width:100%;
}
.s_pc .solution-row .solution-col{
    flex:1;
}
.s_pc .solution-row .solution-col:first-child{
    margin-right: 100px;
}
.s_phone .solution-row .solution-col{
    height:50%;
    overflow:hidden;
}
.s_phone .solution-row .solution-col:first-child{
    width:80%;
    height: 50%;
    background-image:url('../imgs/zhu.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: contain;
    margin: 0 auto;
}

.s_pc .solution-row .solution-col .solution-pic{
    background-image:url('../imgs/zhu.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: contain;
    height:100%;
    margin-right:50px;
}
.s_pc .solution-words{
    width: 244px;
    margin-top: 100px;
}
.s_phone .solution-words{
    width:100%;
    padding:0 30px;
    height:100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction:column;
}
@media only screen and (max-height:829px){
    .s_pc .solution-words{
        margin-top: 20px;
    }
}
.solution-words .solution-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    padding: 0 33px;
}
.s_phone .solution-words .solution-title{
    font-size: 0.89rem;
    font-weight: bold;
    line-height: 1.5rem;
    /*padding: 0 33px;*/
}
.solution-words .solution-content{
    font-size: 12px;
    color: #FFF;
    line-height: 32px;
    text-align: left;
    margin-top: 10px;
}
.s_phone .solution-words .solution-content{
    font-size: 0.56rem;
    line-height: 1rem;
    margin-top: 5px;
    flex:1;
}

@media only screen and (max-height:650px){
    .s_phone .solution-words .solution-content{
        height: 3rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
.solution-words .solution-understand{
    background-color: #1f377c;
    color: #fff;
    height: 35px;
    line-height: 35px;
    margin-top:10px;
}




.solution-icon-row2{
    background-color:#FFF;
    width: 100%;
    padding-top: 10px;
}
.solution-icon-box{
    margin:0 auto;
    width:660px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-wrap:wrap;
    justify-content:center;
}
.s_phone .solution-icon-box{
    width: 100%;
    background-color: #FFF;
    padding: 5px 0 10px;
}
.solution-icon-box > div{
    width:132px;
    margin-bottom:30px;
}
.s_phone .solution-icon-box > div{
    width: 30%;
    margin-bottom: 10px;
}
.solution-icon-box > div .icon {
    width: 40px;
    margin: 0 auto;
    height: 40px;
    background-size: 30px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../imgs/so-1.png);
}
.s_phone .solution-icon-box > div .icon{
    width: 35px;
    height: 35px;
    background-size: 35px auto;
}
.solution-icon-box > div p{
    font-size:12px;
    margin-top: 10px;
}
.s_phone .solution-icon-box > div p{
    margin-top: 5px;
}
.solution-icon-box div.solution-icon-2 .icon{
    background-image:url("../imgs/so-2.png");
}
.solution-icon-box div.solution-icon-3 .icon{
    background-image:url("../imgs/so-3.png");
}
.solution-icon-box div.solution-icon-4 .icon{
    background-image:url("../imgs/so-4.png");
}
.solution-icon-box div.solution-icon-5 .icon{
    background-image:url("../imgs/so-5.png");
}
.solution-icon-box div.solution-icon-6 .icon{
    background-image:url("../imgs/so-6.png");
}
.solution-icon-box div.solution-icon-7 .icon{
    background-image:url("../imgs/so-7.png");
}
.solution-icon-box div.solution-icon-8 .icon{
    background-image:url("../imgs/so-8.png");
}
.solution-icon-box div.solution-icon-9 .icon{
    background-image:url("../imgs/so-9.png");
}



/**swiper-slide4*/
.swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(4){
    background-image:url("../imgs/bg4.jpg");
}
.company-box{
    position:absolute;
    top:55px;
    width:100%;
    bottom:0;
}
.s_phone .company-box{
    top:0;
}
.company-box .company-title{
    color:#FFF;
    position:absolute;
    top:100px;
    width:100%;
}
.s_phone .company-box .company-title{
    position:absolute;
    top:2rem;
    width:100%;
    font-size:1rem;
}
.company-content{
    position:absolute;
    top:144px;
    left: 5%;
    right: 10%;
    bottom:220px
}
.s_phone .company-content{
    top: 4rem;
    bottom: 5rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    flex-direction: column;
    width: 190px;
    left: 50%;
    margin-left: -95px;
}
.company-content .company-l{
    background-image: url(../imgs/company.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.s_phone .company-content .company-l{
    flex:1;
    margin-bottom: 5px;
    background-position: center center;
}
.s_pc .company-content .company-l{
    position: absolute;
}
.s_pc .company-content .company-l:nth-child(1){
    top:3%;
    left:25%;
    width: 150px;
    height: 48px;
}
.s_pc .company-content .company-l:nth-child(2){
    right:16%;
    top:5%;
    margin-right:-27px;
    width: 170px;
    height: 55px;
}
.s_pc .company-content .company-l:nth-child(3){
    top:40%;
    left:13%;
    width: 170px;
    height: 55px;
}
.s_pc .company-content .company-l:nth-child(4){
    top:40%;
    left:53%;
    margin-left:-100px;
    margin-top:-25px;
    width: 200px;
    height: 66px;
}
.s_pc .company-content .company-l:nth-child(5){
    right:13%;
    margin-right:-24px;
    top:55%;
    width: 150px;
    height: 48px;
}
.s_pc .company-content .company-l:nth-child(6){
    top:70%;
    left:27%;
    width: 170px;
    height: 55px;
}
.company-more{
    font-size:14px;
    position:absolute;
    bottom:180px;
    width:100%;
}
.s_phone .company-more {
    font-size: 0.78rem;
    position: absolute;
    bottom: 15%;
    width: 100%;
}
.company-more a{
    color:#234f60;
}
/**swiper-slide5*/
.swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(5){

}
.product-box{
    position: absolute;
    top: 55px;
    width: 100%;
    bottom: 0;
}
.s_phone .product-box{
    top: 0;
}
.product-box .product-title{
    padding-top: 45px;
    padding-bottom: 20px;
}
.s_phone .product-box .product-title{
    padding-top:20px;
    padding-bottom:0px;
}
.s_phone .product-box .product-title{
    font-size:1rem;
}
.product-box .product-pic-box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.product-box .product-pic-box .col-3{
    width: 25%;
    margin-left:4%;
    margin-right:4%;
    margin-bottom: 35px;
    padding: 5px 5px 30px 5px;
    box-sizing: border-box;
    position:relative;
}
@media only screen and (max-height:830px){
    .product-box .product-pic-box .col-3{
        margin-bottom: 10px;
    }
}
.s_phone .product-box .product-pic-box .col-3{
    width: 35%;
    margin-left: 4%;
    margin-right: 10%;
    margin-bottom: 0;
    padding-bottom: 5px;
}
.product-box .product-pic-box  .product-pic img {
    max-width: 190px;
    width: 100%;
}
.product-box .product-pic-box .product-pic-title{
    margin-top:20px;
    font-size:14px;
    color:#58635f;
}
.s_phone .product-box .product-pic-box .product-pic-title{
    margin-top:5px;
}
.product-box .product-pic-box .qrCode{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(204, 204, 204, 0.5);
    opacity:0;
}
.s_pc .product-box .product-pic-box .col-3:hover .qrCode{
    opacity:1;
    transition: opacity 1s;
}
.product-box .product-pic-box .qrCode img{
    width:80%;
    margin-top: 50%;
    transform: translateY(-50%);
}
.product-box .product-more{margin-top:5px;}
.product-box .product-more a{
    color:#57635f;
    font-size:14px;
}
    /**swiper-slide6*/
.contact-box{width:100%;}
.contact-title{
    font-size:30px;
}
.s_phone .contact-title{
    font-size:1rem;
}
.contact-box nav{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    width: 75%;
    flex-wrap: nowrap;
    margin: 30px auto 0;
    justify-content: center;
}
.s_phone .contact-box nav{
    width:90%;
    margin-top:10px;
}
.contact-box nav a{
    flex:1;
    color:#FFF;
    font-size:14px;
    padding:12px 0;
    background-color:#58635f;
    border-right:1px solid #47544f;
}
.s_phone .contact-box nav a{
    padding:5px 0;
}
.contact-box nav a:last-child{
    border:none;
}
.contact-box nav a.active{
    background-color:#31a948
}
.contact-content .form-control{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    width: 50%;
    flex-wrap: nowrap;
    margin: 25px auto 0;
    justify-content: center;
}
.s_phone .contact-content .form-control{
    width:90%;
    margin-top:10px;
}
.contact-content .form-control label{
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    width: 100px;
    text-align: right;
}
.s_phone .contact-content .form-control label{
    width:90px;
}
.contact-content .form-control .input-control{
    flex:1;
}
.col-red{
    color:#e71a32;
    padding: 0 5px;
}
.contact-content .form-control .input-control input,.contact-content .form-control .input-control select{
    height: 33px;
    width: 100%;
    padding:0 10px;
    box-sizing: border-box;
    border:none;
    background-color:#eeeeee;
    font-family: 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
}
select{
    outline: none;
}
.contact-content .form-control .input-control .submit{
    background-color: #31a948;
    color: #FFF;
    height: 35px;
    line-height: 35px;
}

/*swiper7*/
.swiper-container-v > .swiper-wrapper > .swiper-slide:nth-child(7){
    background-image:url("../imgs/bg7.jpg");
}
.company-contact{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex !important;
    justify-content: center;
}
.s_phone .company-contact{
    flex-direction:column;
    margin-top: 1rem;
}
.s_pc .ewmPic{
    margin-right:40px;
}
.ewmPic p{
    font-size: 12px;
}
.s_pc .ewmPic p:first-child{
    padding-top: 12px;
}
.s_phone .ewmPic img{
    width:60%;
}
.s_phone .ewmPic p{
    font-size: 0.67rem;
}
.s_pc .company-detail{
    padding-left: 40px;
    text-align: left;
    border-left: 1px solid #CCC;
}
.s_phone .company-detail{
    padding-left: 15px;
    text-align: left;
}
.s_pc .company-detail .logo{
    background: url(../imgs/hnlogo.png) no-repeat left center;
    padding-left: 130px;
    font-size: 12px;
    height: 56px;
    line-height: 18px;
}
.s_phone .company-detail .logo{
    background: url(../imgs/hnlogo.png) no-repeat left center;
    padding-left: 105px;
    font-size: 0.67rem;
    height: 2rem;
    line-height: 1rem;
    background-size: 100px auto;
    box-sizing: border-box;
    margin: 25px auto 10px;
    width: 190px;
}
.company-detail .contact-us{
    height:35px;
    line-height: 35px;
    font-size: 16px;
}
.company-detail .contact-l{
    font-size:14px;
    height: 35px;
    line-height: 35px;
}
.s_phone .swiper-container-v > .swiper-wrapper >.swiper-slide:last-child{
    justify-content: flex-start;
}
.menu-container{display:none;}
.s_phone .menu-container{
    display:none;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1000;
}
.s_phone .menu-container.menu-active{
    display:block;
}
.s_phone .menu-container .left{
    background:transparent;
    width:50%;
    height:100%;
    float:left;
}
.s_phone .menu-container .right{
    background-color: rgba(60, 65, 68, 0.7);
    float: right;
    width: 50%;
    height: 100%;
}
.s_phone .menu-container .right nav a{
    display: block;
    color: #FFF;
    font-size: 0.78rem;
    width: 4.6rem;
    margin: 1rem auto .5rem;
    padding-left: 20px;
}
.s_phone .menu-container .right nav{
    padding-top: 1rem;
}
.s_phone .menu-container .right nav a:first-child{
    background-image: url('../imgs/home.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15px;
}
.s_phone .menu-container .right .contact-no{
    text-align: center;
    color: #FFF;
    height: 35px;
    line-height: 35px;
    font-size: 0.78rem;
    background-repeat: no-repeat;
    background-image: url(../imgs/telphone.png);
    background-size: 20px;
    background-position: 5px center;
    text-indent: 20px;
}